.product-item {
  min-width: 66%;
  width: 66%;
  display: flex;
  align-items: flex-end;
}

.product-image {
  display: block;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.item-content {
  position: absolute;
  bottom: 0;
  color: #fff;
}

.img-gradient {
  position: relative;
  display: inline-block;
}

.img-gradient:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.6) 90%
  );
}
.img-gradient img {
  display: block;
}
