.product-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.categoryList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-around;
}
